/* Desktop */
@media screen and (min-width: 768px) {
  body {
    background: url('assets/images/bg-desktop.svg');
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    background: url('assets/images/bg-mobile.svg');
  }
}

body {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: var(--color-violet);
}
