/* Desktop */
@media (min-width: 376px) {
  body {
    background-image: url('assets/images/bg-desktop.svg');
  }
}

/* Mobile */
@media (max-width: 375px) {
  body {
    background-image: url('assets/images/bg-mobile.svg');
  }
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-violet);
}
